.scroll-top{
    position: fixed;
    top: calc(100% - 12rem);
    right:2rem;
    padding:.3rem 1rem ;
    font-size:4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    cursor: pointer;
}